.container {
    display: grid;
    grid-template-rows: 100px auto 45px;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 300px;
    height: 300px;
}

.boardPiece {
    display: flex;
    justify-content: center;
    align-items: center;
}

#one{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#two {
    border-bottom: 2px solid black;
}

#three {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

#four {
    border-right: 2px solid black;
}

#six {
    border-left: 2px solid black;
}

#seven {
    border-top: 2px solid black;
    border-right: 2px solid black;
}

#eight {
    border-top: 2px solid black;
}

#nine {
    border-top: 2px solid black;
    border-left: 2px solid black;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

button {
    width: 40px;
    height: 25px;
}

#btnX {
    margin-left: 10px;
    margin-right: 50px;
}

#btnO {
    margin-right: 10px;
}